.root {
  width: 224px;
  height: auto;
  display: block;
  position: relative;
  min-height: 140px;
}
.roottypes_audio {
  height: auto;
}
.notificationsMainPanel2 {
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 2px 10px rgba(44, 48, 65, 0.1));
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  padding: 24px 16px;
}
.notificationsMainPanel2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.notificationsMainPanel2 > :global(.__wab_flex-container) > *,
.notificationsMainPanel2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.notificationsMainPanel2 > :global(.__wab_flex-container) > picture > img,
.notificationsMainPanel2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame3958 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.frame3958 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.frame3958 > :global(.__wab_flex-container) > *,
.frame3958 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3958 > :global(.__wab_flex-container) > picture > img,
.frame3958
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.frame3957 {
  width: 200px;
  height: 92px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg___7WL1X {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #222;
  width: 32px;
  height: 32px;
  top: 0%;
  left: 0%;
  overflow: hidden;
  display: none;
}
.svgtypes_audio___7WL1XpXcbj {
  display: block;
}
.text___0Dyv8 {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 43.47%;
  left: 0%;
  width: 100%;
}
.text___0JEHa {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
  position: absolute;
  top: 73.91%;
  left: 0%;
  width: 96%;
}
.notificationsMainPanel3 {
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 2px 10px rgba(44, 48, 65, 0.1));
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  padding: 24px 16px;
}
.notificationsMainPanel3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.notificationsMainPanel3 > :global(.__wab_flex-container) > *,
.notificationsMainPanel3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.notificationsMainPanel3 > :global(.__wab_flex-container) > picture > img,
.notificationsMainPanel3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame3959 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.frame3959 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.frame3959 > :global(.__wab_flex-container) > *,
.frame3959 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3959 > :global(.__wab_flex-container) > picture > img,
.frame3959
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.frame3960 {
  width: 200px;
  height: 92px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text___2YwFd {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 72.82%;
  left: 0%;
  width: 100%;
}
.svg__tswx8 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #222;
  width: 48px;
  height: 48px;
  top: 3.26%;
  left: 38%;
  overflow: hidden;
  display: none;
}
.svgtypes_empty__tswx8Go9Q4 {
  display: block;
}
.notificationsMainPanel4 {
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 2px 10px rgba(44, 48, 65, 0.1));
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  padding: 24px 16px;
}
.notificationsMainPanel4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.notificationsMainPanel4 > :global(.__wab_flex-container) > *,
.notificationsMainPanel4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.notificationsMainPanel4 > :global(.__wab_flex-container) > picture > img,
.notificationsMainPanel4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.notificationsMainPanel4types_community {
  display: none;
}
.notificationsMainPanel4types_empty {
  display: none;
}
.frame3953 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.frame3953 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.frame3953 > :global(.__wab_flex-container) > *,
.frame3953 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3953 > :global(.__wab_flex-container) > picture > img,
.frame3953
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.frame3951 {
  width: 200px;
  height: 92px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__cetFb {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #222;
  width: 32px;
  height: 32px;
  display: block;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.text___0RfI6 {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 43.47%;
  left: 0%;
  width: 86.5%;
}
.text__dJxIq {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
  position: absolute;
  top: 73.91%;
  left: 0%;
  width: 86.5%;
}
.notificationsMainPanel {
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 4px 10px rgba(44, 48, 65, 0.1));
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  padding: 24px 16px;
}
.notificationsMainPanel > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.notificationsMainPanel > :global(.__wab_flex-container) > *,
.notificationsMainPanel
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.notificationsMainPanel > :global(.__wab_flex-container) > picture > img,
.notificationsMainPanel
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.frame3950 {
  width: 200px;
  height: 92px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__qOwnF {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #222;
  width: 32px;
  height: 32px;
  top: 0%;
  left: 0%;
  overflow: hidden;
  display: none;
}
.svgtypes_community__qOwnF7Q8L9 {
  display: block;
}
.text__uhwI4 {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 43.47%;
  left: 0%;
  width: 100%;
}
.text__n6B1H {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
  position: absolute;
  top: 73.91%;
  left: 0%;
  width: 96%;
}
