.root {
  display: block;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  background: #f6f6f6;
  min-width: 0;
  min-height: 0;
}
.freeBox {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.topBar:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 480px;
  height: 100px;
}
.topBarshortTopBar:global(.__wab_instance) {
  height: auto;
}
.topBarwithoutNavBar:global(.__wab_instance) {
  height: auto;
}
.navBar:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  display: block;
}
.navBarwithoutNavBar:global(.__wab_instance) {
  display: none;
}
