.root {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.voiceMessage {
  width: 172px;
  height: 116px;
  display: block;
  flex-shrink: 0;
}
.buttonRecordMessage2 {
  width: 72px;
  height: 72px;
  display: block;
  position: absolute;
  top: 0px;
  left: 50px;
}
.svg__aTVtj {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  box-shadow: 0px 2px 20px 0px rgba(44, 48, 65, 0.1);
  width: 72px;
  height: 72px;
  display: block;
  top: 0%;
  left: 0%;
  border-radius: 50%;
}
.svg__wM2Q {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #222;
  transform: translate(-0.38500000000000156px, -0.38500000000000156px);
  width: 38.769px;
  height: 38.769px;
  display: block;
  top: 23.61%;
  left: 23.61%;
  overflow: hidden;
}
.text {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 75.86%;
  left: 10.46%;
}
