.root {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}
.heatersHeatControlCircleButton {
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
}
.svg__m0U0 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  box-shadow: 0px 8px 40px 0px rgba(33, 33, 33, 0.1);
  transform: skew(-0.057295760414500616deg, 0deg);
  width: 200px;
  height: 200px;
  display: block;
  transform-origin: top left;
  top: 0%;
  left: 0%;
  border-radius: 50%;
}
._10 {
  display: flex;
  position: absolute;
  top: 19.5%;
  left: 17.5%;
  transform: translate(0.02300000000000324px, 0px);
  justify-content: center;
  flex-direction: row;
}
.slotTargetTemperatureText {
  font-size: 64px;
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
  text-align: center;
  letter-spacing: 0px;
}
.freeBox__huBpD {
  display: flex;
  position: absolute;
  top: 59%;
  left: 21.5%;
}
.slotTargetHomeTemperatureText {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
  text-align: center;
  line-height: 28px;
  letter-spacing: 0px;
}
.humidity {
  width: 64px;
  height: 28px;
  display: block;
  position: absolute;
  top: 148px;
  left: 68px;
}
.freeBox__zJqEs {
  display: flex;
  position: absolute;
  top: 0%;
  left: 43.75%;
}
.slotTargetHumidityText {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
  line-height: 28px;
  letter-spacing: 0px;
}
.svg__q44Fq {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #222;
  width: 24px;
  height: 24px;
  display: block;
  top: 7.14%;
  left: 0%;
  overflow: hidden;
}
