.root {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ffffff;
  overflow: hidden;
  min-width: 0;
}
.freeBox__p2DhG {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  background: #f6f6f6;
  min-width: 0;
  padding: 8px;
}
.topBar:global(.__wab_instance) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100px;
  flex-shrink: 0;
}
.timeDateWidget:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  margin-top: 132px;
  flex-shrink: 0;
}
.text__oicxm {
  font-weight: 500;
  position: relative;
}
.freeBox__fv9V {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
  margin: 24px 0px 0px;
}
.weatherWidget:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.text__iyzB {
  width: auto;
}
.svg__kuB8U {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #222;
  transform: translate(-0.006px, 0.25px);
  width: 36.005px;
  height: 33.75px;
  display: block;
  top: auto;
  left: auto;
}
.svg__euT6U {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #222;
  width: 36px;
  height: 36px;
  display: block;
  top: auto;
  left: auto;
  overflow: hidden;
}
.heatContolWidget:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.freeBox__jmF3N {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 70px;
  min-width: 0;
  padding: 8px;
}
.note__cNo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.svg__ipXdE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #222;
  width: 32px;
  height: 32px;
  display: block;
  top: auto;
  left: auto;
  overflow: hidden;
}
.recordingBtnWidget:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 68px;
}
.freeBox__aEu7S {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.note__lgLxn:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.svg___6Agkj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #222;
  width: 32px;
  height: 32px;
  display: block;
  top: auto;
  left: auto;
  overflow: hidden;
}
.tryby2 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  grid-column-gap: 5px;
  grid-row-gap: 15px;
  min-width: 0;
  padding: 8px;
  margin: 0px 0px 130px;
}
.favouritesBtn:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.ulubione {
  width: 140px;
  height: 140px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
}
.rectangle28 {
  box-shadow: 0px 12px 30px 0px rgba(44, 48, 65, 0.1);
  background: rgba(246, 246, 246, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 20px;
}
.dzien5 {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
  position: absolute;
  top: 58.57%;
  left: 20%;
}
.svg__mnpYt {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 48px;
  height: 48px;
  display: block;
  top: 18.57%;
  left: 32.85%;
  overflow: hidden;
}
.dzien {
  width: 140px;
  height: 140px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
}
.rectangle24 {
  box-shadow: inset 8px 8px 10px 0px rgba(223, 223, 223, 1),
    inset -8px -8px 10px 0px rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 20px;
}
.text__i15Ui {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
  position: absolute;
  top: 58.57%;
  left: 30.71%;
}
.iconSun {
  width: 34.28%;
  height: 34.28%;
  display: block;
  position: absolute;
  top: 18.57%;
  left: 32.85%;
  overflow: hidden;
}
.svg__ld8Dl {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  transform: translate(-0.5px, -0.5px);
  width: 45px;
  height: 45px;
  display: block;
  top: 2px;
  left: 2px;
}
.noc {
  width: 140px;
  height: 140px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
}
.rectangle25 {
  box-shadow: 0px 12px 30px 0px rgba(44, 48, 65, 0.1);
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 20px;
}
.dzien2 {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 58.57%;
  left: 37.14%;
}
.iconNight {
  width: 34.28%;
  height: 34.28%;
  display: block;
  position: absolute;
  top: 18.57%;
  left: 32.85%;
  overflow: hidden;
}
.svg__rOqIn {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #222;
  width: 41.999px;
  height: 42.002px;
  display: block;
  top: 3px;
  left: 3px;
}
.pozaDomem {
  width: 140px;
  height: 140px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
}
.rectangle26 {
  box-shadow: 0px 12px 30px 0px rgba(44, 48, 65, 0.1);
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 20px;
}
.dzien3 {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 58.57%;
  left: 6.42%;
}
.svg___2W7Xx {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #222;
  width: 48px;
  height: 48px;
  display: block;
  top: 18.57%;
  left: 32.85%;
  overflow: hidden;
}
.przywolajWinde {
  width: 140px;
  height: 140px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
}
.rectangle29 {
  box-shadow: 0px 2px 20px 0px rgba(44, 48, 65, 0.1);
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 20px;
}
.iconLift {
  width: 34.28%;
  height: 34.28%;
  display: block;
  position: absolute;
  top: 10%;
  left: 32.85%;
  overflow: hidden;
}
.svg__thxC2 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #3b3b3b;
  transform: translate(-0.3340000000000001px, -0.33399999999999963px);
  width: 44.666px;
  height: 36.666px;
  display: block;
  top: 6px;
  left: 2px;
}
.text___3ZrSz {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 50%;
  left: 17.85%;
}
.freeBox___4R2Vh {
  display: block;
  position: fixed;
  width: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  height: 150px;
  flex-shrink: 0;
  padding: 8px;
}
.navBar:global(.__wab_instance) {
  position: absolute;
  top: 0px;
  left: 0px;
}
