.root {
  width: 480px;
  height: 150px;
  display: block;
  overflow: hidden;
  position: relative;
}
.svg {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  filter: drop-shadow(0px 2px 10px rgba(44, 48, 65, 0.1));
  width: 480px;
  height: 134px;
  display: block;
  top: 16px;
  left: 0px;
}
.freeBox {
  flex-direction: row;
  display: flex;
  position: absolute;
  width: 360px;
  height: auto;
  max-width: 100%;
  top: 22%;
  left: 13.75%;
  padding: 8px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.homeBtn:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.modsBtn:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
