.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
._0121DomofonDzwoni {
  background: rgba(255, 255, 255, 1);
  width: 480px;
  height: 1280px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.rectangle50 {
  background: rgba(246, 246, 246, 1);
  width: 480px;
  height: 1280px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.image34 {
  background: url("./images/image34.png") center center / cover no-repeat;
  width: 854px;
  height: 1280px;
  display: block;
  position: absolute;
  top: 0px;
  left: -187px;
}
.rectangle31 {
  background: rgba(246, 246, 246, 1);
  width: 480px;
  height: 1049px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.link {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 519px;
  min-width: 0;
  padding: 8px;
}
.muteIcon:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.header:global(.__wab_instance) {
  position: absolute;
  top: 96px;
  left: 20px;
}
.freeBox__zx53I {
  flex-direction: column;
  display: flex;
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 1008px;
  left: 0px;
  min-width: 0;
  padding: 16px;
}
.freeBox__zx53I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zx53I > :global(.__wab_flex-container) > *,
.freeBox__zx53I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zx53I > :global(.__wab_flex-container) > picture > img,
.freeBox__zx53I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__dS3Cx {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__dS3Cx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dS3Cx > :global(.__wab_flex-container) > *,
.freeBox__dS3Cx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dS3Cx > :global(.__wab_flex-container) > picture > img,
.freeBox__dS3Cx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.btn__pQwLx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100px;
}
.svg__d2Fnd {
  position: relative;
  object-fit: cover;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #535353;
  min-width: 0;
  min-height: 0;
}
.svg___47Exs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.btn___6KPnA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100px;
  flex-shrink: 0;
}
.svg__gfjoh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #3b3b3b;
  width: 48px;
  height: 48px;
  display: block;
  overflow: hidden;
}
.text {
  width: 0px;
}
.svg___5Plw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.btn__fJikp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100px;
  flex-shrink: 0;
}
.svg__wSu6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 48px;
  height: 48px;
  display: block;
  top: auto;
  left: auto;
  overflow: hidden;
}
.svg__wlnZm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
